      *{
        margin: 0;
        padding: 0;
        scroll-behavior:smooth;
      }

      /* Este body lo utilice para cambiar el tipo de letra usando font-family, use el background para que abajo de el tuviera ese color blanco y lineheight para el interlineado */
      body{
          font-family: Helvetica, sans-serif;
          background-color: #f9f9f9;
          line-height: 1.5;
          
      }

      /* Aquí use un header para poner un encabezado el cual primero le puse el fondo color morado, con letras blancas y que el texto estuviera centrado junto con un relleno de 20px X 0 */
      header{
        background-color: #8571eb;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        border-radius: 10px;
        text-transform: capitalize;
      }
    
      /* Este es para navegar el cual le di un margen superior al menu de navegacion */
      nav{
        margin-top: 10px;
      }

        /* Aqui cuando uso el nav en todas las ref les di color, que no tuvieran subrayado al momento de pasar el mouse */
      nav a{
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-weight: bold;
      }

      /* Section es todas las secciones que utilice para realizar el menu, en el codigo estan como #NombreSeccion ó ID="#NOMBRESECCION" */
      section{
        padding: 60px 20px;
        max-width: 900px;
        margin: auto;
      }

      /* para que en todas mis <a ref> al momento de pasar el mouse sean de color morado */
      a:hover{
        color: rgb(206, 179, 231);
      }

      /* Todas las secciones que contengan un h2 tomaran estos cambios  */
      section h2{
       box-decoration-break: clone;
        background-position: auto;
        color:#2d7feb ;
        
      }

      /* aqui use el que todos los listados que contengan un A ref se quite la decoracion que viene por defecto que vendria siendo el subrayado */
      ol a{
        text-decoration: none;
      }

      /* El foooter vendria siendo el final de la pagina, en ella utilice asi lo mismo que el header */
      footer{
        background-color: #8571eb;
        color: #fff;
        text-align: center;
        margin: 0 20px;
        padding: 10px;
      }

