
    @import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
    .ancizar-serif-<style> {
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300..900;
  font-style: normal;
}

    *{
      padding: 0;
      margin: 0;
     }

     body{
      font-family: "ancizar serif, sans-serif";
      background-color: #f9f9f9;
      line-height: 1.5;
     }

      header {
         position: relative;
         background-color: #8571eb;
         padding: 40px 0;
         border-radius: 30px;
         text-align: center;
          }

      header h1 {
         font-family: 'Ancizar Serif', serif;
         font-size: 2.5em;
         color: #fff;
         text-shadow: 2px 2px 4px #000000;
         margin: 0;
            }

      .logo {
         position: absolute;
         top: 50%;
         left: 30px;
         transform: translateY(-50%);
         width: 225px;
         height: auto;
         border-radius: 10px;
            }

     h1 {
        text-align: center;
        font-family: "ancizar serif, sans-serif";
        font-size: 2.5em;
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
      }
         
      p{
        font-family: "ancizar serif, sans-serif";
        font-size: 1.2em;
        color: #12d2bf;
        line-height: 1.5;
      }

      a{
         color: #000000;
         font-family: "ancizar serif, sans-serif";
         text-decoration: none;
      }

      a:hover{
         color: #8571eb;
      }

      section{
        padding: 60px 20px;
        max-width: 900px;
        margin: auto; 
      }

      section #pruebas{
         
         color: #fff;
         
         padding: 20px 0;
         text-transform: uppercase;
      }

      #primerparrafo{
        font-family: "ancizar serif, sans-serif";
        font-size: 1.2em;
        color: #c29cee;
        line-height: 1.5;
      }

      .grupodeparrafos{
         color: bisque;
      }
